// @use '@angular/material';
@use "@material/button/styles";


div.body-head > button.xhead {
    background-color: #21999d;
    opacity: .6;
}

div.body-head > div > button.mdc-fab.mat-mdc-fab.mat-accent.mat-mdc-button-base.mdc-fab--extended.mat-mdc-extended-fab {
    background-color: white;
    color: black;
}

div.body-head > div > button.mdc-fab.mat-mdc-fab.mat-unthemed.mat-mdc-button-base.mdc-fab--extended.mat-mdc-extended-fab {
    background-color: #21999d;
}


div.requests-wrapper > mat-tab-group > mat-tab-header > div > div > div{
    background-color: white;
}

#mat-tab-label-0-0 > span.mdc-tab-indicator > span {
    border-color: #21999d;
}

#mat-tab-label-0-0 > span.mdc-tab__content > span {
    color: black;
}

#mat-tab-label-0-1 > span.mdc-tab-indicator > span {
    border-color: #21999d;
}

#mat-tab-label-0-1 > span.mdc-tab__content > span {
    color: black;
}

mat-card, mat-card-content {
    background-color: white;
}

mat-card-content table.mat-mdc-table {
    background-color: white;
}

// accepted button 
#mat-tab-content-0-0 > div > mat-card > mat-card-content > table > tbody > tr > td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.button.cdk-column-status.mat-column-status.ng-star-inserted > button.Accepted {
    background-color: rgb(96, 184, 96);
}

// pending button 
#mat-tab-content-0-0 > div > mat-card > mat-card-content > table > tbody > tr > td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.button.cdk-column-status.mat-column-status.ng-star-inserted > button.Pending  {
    // background-color: rgb(76, 76, 241);
    background-color: #b39afd;
}

#mat-tab-content-0-0 > div > mat-card > mat-card-content > table > tbody > tr > td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-EIT_id.mat-column-EIT_id.ng-star-inserted > a {
    color: black;
}
#mat-tab-content-0-0 > div > mat-card > mat-card-content > table > tbody > tr > td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-EIT_id.mat-column-EIT_id.ng-star-inserted > a:hover {
    color: #21999d;
    font-weight: bold;
}

// sick leave button 
#mat-tab-content-0-0 > div > mat-card > mat-card-content > table > tbody > tr > td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-type.mat-column-type.ng-star-inserted > button,
#mat-tab-content-0-0 > div > mat-card > mat-card-content > table > tbody > tr > td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-type.mat-column-type.ng-star-inserted > button.Sick {
    border-color: green;
    background-color: white;
    color: green;
    border: 1px solid;
}


#mat-tab-content-0-0 > div > mat-card > mat-card-content > table > tbody > tr > td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-type.mat-column-type.ng-star-inserted > button.Property {
    border-color: blue;
    background-color: white;
    color: blue;
    border: 1px solid;
}

div.req-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

div.req-body {
    align-self: flex-start;
}

div.body-head {
    // border: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.requests-wrapper {
    width: 70vw;
}

mat-card, table {
    background-color: white;
}


table td, th{
    color: black !important;
    text-align: center;
}

td.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    overflow-y: scroll;
}


body{
    background-color: #fff;
}


.relative-pos {
    position: relative;
    background-color: black;
    height: 150vh;
    width: 300px;
    left: 30px;
    top: 30px;
    color: white;
    z-index: 1;
}
.absolute-pos {
    position: absolute;
    background-color: orange;
    bottom: 0px;
}
.fixed-pos {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
    color: #fff;
    padding: 1rem;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sticky-pos {
    position: sticky;
    background-color: #6e6e6e;
    top: 3px;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    z-index: 10;
}
.sticky-pos > li {
    margin-left: 1rem;
}
body {
    margin: 0px;
}
.logo {
    width: 60px;

}
.goo-wrapper {
    display: flex;
    flex-direction: row;
}
.goo-wrapper .side-nav {
    width: 250px;
    height: 100vh;
}
.goo-wrapper .side-nav .menu {
    list-style-type: none;
    padding-left: 10px;
}
.goo-wrapper .side-nav .menu i{
    margin-right: 15px;
}
.goo-wrapper .side-nav .menu a {
     color: #00C8C8;
     padding: 10px 10px;
     display: flex;
     align-items: center;
     border-radius: 25px;
     cursor: pointer;
     margin-bottom: 5px;

}
.goo-wrapper .side-nav .menu a:hover {
    background-color: #00C8C8;
    color: #fff;
}

.goo-wrapper .side-nav .menu a.btn-link {
    color: black;
    background-color: red;
}
.goo-wrapper .side-nav .menu .menu-icon {
    width: 25px;
    margin-right: 10px;

}
.goo-wrapper .side-nav .menu .menu-active {
    background-color: #00C8C8;
    color: #fff;
}

body > app-root > div > div > div.main-content > app-users > table > tbody > tr > td:nth-child(6) > a {
    color: black;
}
body > app-root > div > div > div.main-content > app-leave > table > tbody > tr > td:nth-child(9) > a {
    color: black;
}
body {
    background-color: white;
    color: black;
    }

h1 {
    // color:#fff;
    // font-size: 80px;
    font-family: 'Roboto', Verdana, sans-serif;
}

.navbar {
    float: left;
    color:#fff;
    font-size: 30px;
    font-family: 'Roboto', Verdana, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.nav-item {
    float: left;
    list-style-type: none;
    padding: 8px 16px;
    font-size: 30px;
    color:azure;
    font-size: 50px;
    font-family: 'Roboto', Verdana, sans-serif;
  }

li a:hover {
    color:#FF2626;
  }

  a:-webkit-any-link {
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}

.headertext {
    padding-top: 50px;
    font-size: 100px;
    text-align: center;
    margin-block-start: 40px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.achievement-list {
    display: grid;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-heading {
    color:#fff;
    font-size: 35px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}

.list-subheading {
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight:100;
    color:#fff;
}

.header-container {
    height:100vh;
}

.content-card {
    background-color:#fff;
    height:100vh;
    /* grid-row-gap: 60px; */
    /* background-color: rgba(51, 51, 51, 0.05); */
    /* border-radius: 16px; */
    /* flex-direction: column; */
    /* padding: 80px 52px; */
    /* display: flex; */
}

.big-quote {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    text-transform: uppercase;
    font-size: 50px;
    color:#000;
    padding-top: 60px;
    padding-left: 30px;
}

.small-quote {
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    text-transform: uppercase;
    font-size: 40px;
    color:#000;
    padding-bottom: 60px;
    padding-left: 30px;
}

.body-text {
    color:#fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}

#myBtn {
    /* display: none; Hidden by default  */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .skills-container {
    height:100vh;
}

.skills-item {
    /* float: left; */
    text-align: center;
    list-style-type: none;
    padding: 8px 16px;
    font-size: 30px;
    color:azure;
    font-family: 'Roboto', Verdana, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


